*, ::before, ::after {
    box-sizing: border-box;
}

.container {
    width: min(768px, 90%);
    margin: 0 auto;
}

body {
    color: #0A0A0A;
    background-color: #eee;

    margin: 0;
    min-height: 100vh;

    font-family: sans-serif;
}
